<html>
<head>
	<script>
function hasGetUserMedia() {

  return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia || navigator.msGetUserMedia);
}

if (hasGetUserMedia()) { 

	setTimeout(function() {window.location.href='{{url_for('norecord') }}'},1000);

} else {

  alert('getUserMedia() is not supported in your browser');
}

</script>

 </head>
<body>

	Tell us! <br>
	<img src='{{ url_for('static', filename='/images/'~thePic ~'.jpg') }}' style="width:500px;height:500px", align='middle'>



	



</body>



</html>
