<!--this thing calls three variables: title, post, and user. they come from the views page and can be passed along if they are inside {{ }}-->
<!--{% extends "base.html" %}
{% block content %} -->

<!--the above 2 lines and the last 2 lines mark the things that get tacked on. I'm not sure about <div ..>-->

<!--<h1>Hello, {{user.nickname}}!</h1>
{for post in posts %}
<div><p>{{post.author.nickname}} says: <b>{{post.body}}</b></p></div>

{% end for %}
{% endblock %} -->
<html>

 <img src={{thePic}} style="width:128px;height:128px"> 
 </html>